/* .itemName {
  color: #1161f0f5;
  font-family: sans-serif;
  text-align: center;
}

.tkOne {
  font-family: sans-serif;
  font-weight: 600;
  color: black;
}
.tkTwo {
  font-family: sans-serif;
  font-weight: 400;
  text-decoration: line-through;
  color: crimson;
} */
.headerOne {
  font-family: serif;
  font-weight: 800;
  font-size: 21px;
}

.allProduct {
  padding: 20px 0;
  height: 600px;
  overflow: auto;
}
